@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  background-color: #1a202c;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}
.toggle-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 999;
}

a {
  color: blue;
}

#loader {
  position: absolute;
  top: calc(50% - 64px);
  left: calc(50% - 64px);
  transition: translate(50%, 50%);
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 30px solid #cef;
  border-color: #708090 transparent #708090 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
